package ${packageName}.infra.mapper;

import ${packageName}.domain.entity.${className};
import org.apache.ibatis.annotations.Mapper;
import org.oraly.common.base.BaseMapper;

/**
 * ${comments}Mapper
 *
 * @author ${author} ${datetime}
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}> {

}